.Form {
  height: 69px;
  width: 250px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.Form > input {
  width: 250px;
  background: inherit;
  height: 100%;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  padding: 0 24px;
  border: unset;
  /* border: 1px solid #86b7fe; */
}
.Form > input::placeholder {
  color: #ffffff;
}
.Form > input:focus {
  background: inherit;
  color: #fff;
  box-shadow: unset;
}
.ArrowBtn {
  border: none;
  background: inherit;
  position: relative;
  left: -35px;
}
