.Popover {
  width: 250px;
  border: unset !important;
  border-top: unset;
  border-radius: 0 0 5px 5px;
  padding-top: 10px;
  max-height: 375px;
}
.Suggestions {
  list-style: none;
  overflow-y: auto;
  color: #fff;
  padding: 0;
}

.Suggestions li {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  padding: 0 24px;
}
.Suggestions li:first-letter {
  text-transform: capitalize;
}

.Suggestions li:hover {
  color: #000;
  cursor: pointer;
  font-weight: 700;
}
