.Popover {
  width: 250px;
  border: 1px solid #86b7fe;
  border-top: unset;
  margin-top: -9px;
  border-radius: 0 0 5px 5px;
}
.Suggestions {
  list-style: none;
  overflow-y: auto;
  color: #fff;
  padding: 0;
}

.Suggestions li {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  padding: 0 24px;
}
.Suggestions li:first-letter {
  text-transform: capitalize;
}

.SuggestionActive,
.Suggestions li:hover {
  /* background-color: #fff; */
  color: #000;
  cursor: pointer;
  font-weight: 700;
}
