.SearchTerm {
  background: #e7e7e7 !important;
  border-radius: 5px;
  border: none;
  height: 69px;
  width: 100%;
  padding: 0 24px;
  margin-top: 20px;

  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.SearchTerm::placeholder {
  opacity: 0.25;
}
.SearchBar {
  display: flex;
  width: calc(100% + 33px);
}
.SearchIcon {
  position: relative;
  left: calc(-33px - 20px);
  top: calc(33px / 4);
}
.DropdownBar {
  display: flex;
  gap: 10px;
  height: 69px;
}
.RecipeContainer {
  height: 364px;
}
.RecipeImg {
  height: 178px;
  background-color: #c7bebe;
}
.RecipeTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.RecipeTitle span:first-of-type {
  font-weight: 400;
  max-width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ClockIcon {
  margin-right: 5px;
}
.RecipeContent {
  flex: 1 1;
  height: 109px;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}
.RecipeText {
  display: flex;
  gap: 10px;
}
